.grid-main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    background-color: orangered;
    gap: 30px;
}

h1 {
    font-size: 35px;
    color: chocolate;
}

p {
    font-size: 20px;
    font-weight: 300;
    color: navy;
}

b {
    font-weight: 700;
}

.grid-1 {
    display: grid;
    margin: 10px 70px 0 70px;
    padding: 5px 0;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    background-color: white;
    border-radius: 30px;
}

.g11 {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/3;
}

img {
    height: 150px;
    width: 200px;
}

.g12 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.g12>img {
    height: 180px;
    width: 280px;
}

.grid-2 {
    display: grid;
    margin: 0 70px 0 70px;
    padding: 10px 0;
    grid-template-columns: auto auto auto;
    grid-row: auto auto;
    background-color: white;
    border-radius: 30px;
}

.g21 {
    grid-column: 2/3;
    grid-row: 1/3;
}
.g21>img{
    height: 180px;
    width: 200px;
}

.g22 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.grid-3 {
    display: grid;
    margin: 0 70px 0 70px;
    padding: 20px 0;
    grid-template-columns:  auto auto auto;
    background-color: white;
    border-radius: 30px;
}

.g31 {
    grid-column: 2/3;
    grid-row: 1/3;
}

.g32 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.g32>img {
    width: 300px;
}

.grid-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0px 70px 0px 70px;
    background-color: white;
    padding: 5px 0;
    border-radius: 30px;
}

.g41 {
    grid-column: 2/3;
    grid-row: 1/3;
}

.g41>img {
    width: 290px;
    height: 200px;
}

.g42 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.grid-5 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 30px 0;
    margin: 0 70px 0 70px;
    background-color: white;
    border-radius: 30px;
}

.g51 {
    grid-column: 2/3;
    grid-row: 1/3;
}

.g51>img {
    height: 100px;
}

.g52 {
    grid-column: 4/4;
    grid-row: 1/3;
}
.span1{
    font-size: 35px;
    color: chocolate;
    font-weight: bold;
}
.span2{
    font-size: 20px;
    color: navy;
}

.grid-6 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin: 0px 70px 20px 70px;
    padding: 20px 0;
    background-color: white;
    border-radius: 30px;
}

.g61>img {
    height: 160px;
    width: 280px;
}

.g61 {
    grid-column: 2/3;
    grid-row: 1/3;
}

.g62 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.cs {
    margin-top: 40px;
}

@media screen and (max-width:480px) {
    .grid-main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        background-color: orangered;
        gap: 5px;
    }

    h1 {
        font-size: 20px;
        font-weight: 900;
        color: chocolate;
    }

    p {
        font-size: 15px;
        font-weight: 300;
        color: navy;
    }

    b {
        font-weight: 700;
    }

    .grid-1 {
        display: grid;
        margin: 15px 25px 0 25px;
        padding: 0px 20px;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        background-color: white;
        border-radius: 20px;
    }

    .g11 {
        display: grid;
        grid-column: 1/2;
        grid-row: 1/3;
    }
    img {
        height: 90px;
        width: 90px;
    }

    .g12 {
        grid-column: 2/4;
        grid-row: 1/3;
    }

    .g12>img {
        height: 140px;
        width: 160px;
    }

    .grid-2 {
        display: grid;
        margin: 15px 25px 0 25px;
        padding: 2px 20px;
        grid-template-columns: auto auto auto auto auto;
        grid-row: auto auto;
        background-color: white;
        border-radius: 20px;
    }

    .g21 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .g21>img {
        height: 130px;
        width: 150px;
    }

    .g22 {
        grid-column: 4/6;
        grid-row: 1/3;
    }

    .grid-3 {
        display: grid;
        margin: 15px 25px 0 25px;
        padding: 20px 20px;
        grid-template-columns: auto auto auto;
        background-color: white;
        border-radius: 20px;
    }

    .g31 {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .g31>h1 {
        font-size: 20px;
    }

    .g31>p {
        font-size: 15px;
    }

    .g32 {
        grid-column: 2/4;
        grid-row: 1/3;
    }

    .g32>img {
        width: 130px;
        height: 100px;
    }

    .grid-4 {
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 15px 25px 0px 25px;
        background-color: white;
        padding: 5px 15px;
        border-radius: 20px;
    }

    .g41 {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .g41>img {
        width: 150px;
        height: 130px;
    }

    .g42 {
        grid-column: 3/4;
        grid-row: 1/3;
    }

    .grid-5 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        padding: 15px;
        margin: 15px 25px 0 25px;
        background-color: white;
        border-radius: 20px;
    }

    .g51 {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .g52 {
        grid-column: 3/4;
        grid-row: 1/3;
    }
    .span1{
        font-size: 25px;
    }
    .span2{
        font-size:15px;
    }

    .g52>img {
        height: 130px;
        width: 140px;
    }

    .grid-6 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: 15px 25px 20px 25px;
        padding: 25px;
        background-color: white;
        border-radius: 20px;
    }

    .g61>img {
        height: 100px;
        width: 130px;
    }

    .g61 {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .g62 {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .cs {
        margin-top: 10px;
    }
}